services:
  # app:
  #   build: .
  #   ports:
  #     - 3000:3000
  #   environment:
  #     - NODE_ENV=production
  #     - REDIS_HOST=redis
  #   depends_on:
  #     - redis
  redis:
    image: redis:8.2.2
    ports:
      - 6379:6379
    expose:
      - 6379
    volumes:
      - ./redis:/data
